* {
  box-sizing: border-box;
}

.btn {
  width: 100%;
  height: 100%;
  font-size: 20px;
  border: 2px solid;
  cursor: pointer;
}

.container {
  display: flex;
  height: 200px;
  justify-content: space-around;
}
.box {
  width: 30%;
}

.captionContainer {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

.scores {
  display: flex;
  width: 100%;
}

.eachScore {
  width: 50%;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}
